@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&family=Tilt+Prism&display=swap");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/introduction.css");
@import url("components/links.css");
@import url("components/sidebar.css");

body {
	font-family: 'Playfair Display', serif;
	font-size: 19px;
	margin: 0px;
}

h1 {
	font-family: 'Tilt Prism', cursive;
	font-size: 50px;
}

h2 {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 25px;
}

a {
	text-decoration: none;
	font-weight: bold;
}