.sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #76e026;
  border-right: 30px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding-left: 0px;
  line-height: 100px;
}

.sidebar h2 {
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 35px;
}

.sidebar a {
  color: white;
  font-size: 30px;
}

.sidebar a:hover {
  color: #1995B3;
}

.page-content {
  margin-left: 150px;
}

